<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practica 1</title>
    <link href="/images/favicon.png" rel="icon">
    <link rel="stylesheet" href="/styles/home.css" media="screen"/> 
</head>
<body>
    <%- include("header", {username : username, imagen : image, idUser : userid}) %>
    
</body>
</html>