*{
    margin: 0;
    padding: 0;
}

.bg{
    background-color: plum;
    width: 400px;
    height: 400px;
    border: 1px solid black;
    background-image:url(twitter.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;

}