<!DOCTYPE html>
<html>

<head>
    <title>Tabla</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/styles/encuestaStyle.css">
</head>

<body>
    <h2 id="titulo">Resultados</h2>
    <div class="table">
        <table>
            <tr>
                <th>Respuesta</th>
                <th>Número de Votos</td>
            </tr>
            <tr>
                <td>rojo:</td>
                <td> <%= rojo %> </td>
            </tr>
            <tr>
                <td>azul:</td>
                <td> <%= azul %> </td>
            </tr>
            <tr>
                <td>verde:</td>
                <td> <%= verde %> </td>
            </tr>
            <tr>
                <td>otro:</td>
                <td> <%= otro %> </td>
            </tr>
        </table>
    </div>
   
</body>

</html>
