<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practica 1</title>
    <link href="images/favicon.png" rel="icon">
    <link rel="stylesheet" href="../styles/detailedQuestion.css" media="screen"/> 
</head>
<body>
    <div class="encabezado">
        <div class="parte1">
            <div class="botonera">
                <a href="">Preguntas</a>
                <a href="">Sin responder</a>
                <a href="">Usuarios</a>
            </div>
            <div class="titulo">
                <h1>404</h1>
            </div>
            <div class="informacionUsuario">
                <img src="../images/User_Circle.png">
                <p>Robertito@gmail.com</p>
                <a href="../view/login.html">Cerrar Sesion</a>
            </div> 
        </div>
        <div class="parte2">
            <form action="procesar_formulario" method="método">
                <input type="submit" id="button1" value="Buscar">
                <input type="text" id="search1" name="Busqueda *" value="Buscar por titulo/cuerpo de pregunta">
            </form>
        </div>
   </div>
   <div class="panelPrincipal">   
        <div class="pregunta">
            <div class="tituloPregunta">
                <h2>¿Como funciona exactamente nth-child?</h2>
            </div>
            <div id="vistas"><div id="numVistas">Vista 1 veces</div></div>
            <div id="votos"> 
                <div id="vote">0 votos</div>
                <div id="manoArriba">
                    <a href="" >a </a>
                </div>
                 <div id="manoAbajo">
                    <a href="" >a </a>
                </div>
            </div>
            <div id="cuerpo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque sint labore praesentium officia aut minima velit consequuntur e</div>
            <div class="etiquetas">
                <div id="etiqueta">CSS</div>
                <div id="etiqueta">css3</div>
            </div>
            <div id="fecha">Formulada el 5/1/2020</div>
            <img id="imagen"src="../images/cartas.jpg">
            <div id="nombre">
                <p><strong>Roberto</strong></p>
            </div>
        </div>
        <div class="numRespuestas">
            <h2>1 Respuestas</h2>
        </div>
        <div class="respuesta">
            <div id="votos"> 
                <div id="vote">0 votos</div>
                <div id="manoArriba">
                    <a href="" >a </a>
                </div>
                 <div id="manoAbajo">
                    <a href="" >a </a>
                </div>
            </div>
            <div id="cuerpo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque sint labore praesentium officia aut minima velit consequuntur est nobis. Nesciunt excepturi quos est facere, quia doloremque provident maiores dolorum temporibus!</div>
            <div id="fecha">Formulada el 5/1/2020</div>
            <img id="imagen"src="../images/cartas.jpg">
            <div id="nombre">
                <p><strong>Roberto</strong></p>
            </div>
            
        </div>
        <div class="responder">
            <h2>Tu respuesta</h2>
            <textarea name="textarea" id="cuerpoPregunta" rows="10" cols="200" maxlength="150"></textarea>
            <a href="" id="boton" >Publica tu respuesta</a> 
        </div>
   </div>
    
</body>
</html>