<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practica 1</title>
    <link href="images/favicon.png" rel="icon">
    <link rel="stylesheet" href="../styles/paginaPrincipal.css" media="screen"/> 
</head>
<body>
    <div class="encabezado">
        <div class="titulo">
             <img src="images/tareas.jpg">
        </div>
        <div class="informacionUsuario">
             <div class="imagen">
               <img src="images/null.png">
             </div>
             <div class="detalles">
               <p>Robertito@gmail.com</p>
               <a href="">DESCONECTAR</a>
             </div>
        </div>    
   </div>
   <div class="panelPrincipal">
    
</body>
</html>