<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practica 1</title>
    <link href="images/favicon.png" rel="icon">
    <link rel="stylesheet" href="../styles/profile.css" media="screen"/> 
</head>
<body>
    <div class="encabezado">
        <div class="parte1">
            <div class="botonera">
                <a href="">Preguntas</a>
                <a href="">Sin responder</a>
                <a href="">Usuarios</a>
            </div>
            <div class="titulo">
                <h1>404</h1>
            </div>
            <div class="informacionUsuario">
                <img src="../images/User_Circle.png">
                <p>Robertito@gmail.com</p>
                <a href="../view/login.html">Cerrar Sesion</a>
            </div> 
        </div>
        <div class="parte2">
            <form id="busqueda" action="procesar_formulario" method="método">
                <input type="submit" id="button1" value="Buscar">
                <input type="text" id="search1" name="Busqueda *" value="Buscar por titulo/cuerpo de pregunta">
            </form>
        </div>
   </div>
   <div class="cuadro">

        <div class="perfil">
            <div>Robertito</div>
            <div>Miembro desde el 6/7/2020</div>
        </div>

        <div id="estadisticas"> ESTADISTICAS</div>

        <div class="numeros">
            <div>REPUTACION  20</div>
            <div>PREGUNTAS   20</div>
            <div>RESPUESTAS  20</div>
        </div>

        <div id="medallas">MEDALLAS</div>

            <div class="cuadroBronce">
                <div class="oro">
                    <p>ORO</p>
                    <p>5</p>
                </div>
            </div>

            <div class="cuadroPlata">
                <div class="plata">
                    <p>PLATA</p>
                    <p>10</p>
                </div>

                <div class = "listaMedallas">
                    <p id="medallaBronce">medalla</p>
                    <p id="medallaBronce">medalla</p>
                    <p id="medallaBronce">medalla</p>
                </div>

            </div>

            <div class="cuadroPlata>">
                <div class="bronce">
                    <p>BRONCE</p>
                    <p>15</p>
                </div>
            </div>


        </div>


  
   </div>
    
</body>
</html>