<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practica 1</title>
    <link href="images/favicon.png" rel="icon">
    <link rel="stylesheet" href="../styles/questions.css" media="screen"/> 
</head>
<body>
    <div class="encabezado">
        <div class="parte1">
            <div class="botonera">
                <a href="">Preguntas</a>
                <a href="">Sin responder</a>
                <a href="">Usuarios</a>
            </div>
            <div class="titulo">
                <h1>404</h1>
            </div>
            <div class="informacionUsuario">
                <img src="../images/User_Circle.png">
                <p>Robertito@gmail.com</p>
                <a href="../view/login.html">Cerrar Sesion</a>
            </div> 
        </div>
        <div class="parte2">
            <form id="busqueda" action="procesar_formulario" method="método">
                <input type="submit" id="button1" value="Buscar">
                <input type="text" id="search1" name="Busqueda *" value="Buscar por titulo/cuerpo de pregunta">
            </form>
        </div>
   </div>
   <div class="panelPrincipal">
        <div class="cabecera">
            <h3>5 Preguntas</h3>
            <h2>Todas las Preguntas</h2>
            <a href="" id="button2">Formular una pregunta</a>
        </div>
        <div class="preguntas">
            <div class="tarjeta">
                <div id="titulo"><strong>Cual es la diferencia entre position, relative, postion, absolute y postion, fixed?</strong></div>
                <div id="cuerpo">Se que estas propiedades de CSS sirven para posicionar un elemento dentro de una página. Sin embargo, ¿cuando debería usar cada una de ellas?</div>
                <div class="etiquetas">
                    <div id="etiqueta">CSS</div>
                    <div id="etiqueta">css3</div>
                </div>
                <img id="imagen"src="../images/cartas.jpg">
                <div id="fecha">Formulada el 5/1/2020</div>
            </div>
            <div class="tarjeta">
                <div id="titulo"><strong>Cual es la diferencia entre position, relative, postion, absolute y postion, fixed?</strong></div>
                <div id="cuerpo">Se que estas propiedades de CSS sirven para posicionar un elemento dentro de una página. Sin embargo, ¿cuando debería usar cada una de ellas?</div>
                <div class="etiquetas">
                    <div id="etiqueta">CSS</div>
                    <div id="etiqueta">css3</div>
                </div>
                <img id="imagen"src="../images/cartas.jpg">
                <div id="fecha">Formulada el 5/1/2020</div>
            </div>
            <!-- <div class="tarjeta">
                <div id="titulo"><strong>Cual es la diferencia entre position, relative, postion, absolute y postion, fixed?</strong></div>
                <div id="cuerpo">Se que estas propiedades de CSS sirven para posicionar un elemento dentro de una página. Sin embargo, ¿cuando debería usar cada una de ellas?</div>
                <div class="etiquetas">
                    <div id="etiqueta">CSS</div>
                    <div id="etiqueta">css3</div>
                </div>
                <div id="fecha">Formulada el 5/1/2020</div>
                <div>Formulada el 5/1/2020</div>
            </div>
            <div class="tarjeta">
                <div id="titulo"><strong>Cual es la diferencia entre position, relative, postion, absolute y postion, fixed?</strong></div>
                <div id="cuerpo">Se que estas propiedades de CSS sirven para posicionar un elemento dentro de una página. Sin embargo, ¿cuando debería usar cada una de ellas?</div>
                <div class="etiquetas">
                    <div id="etiqueta">CSS</div>
                    <div id="etiqueta">css3</div>
                </div>
                <div id="fecha">Formulada el 5/1/2020</div>artas.jpg">
                <div>Formulada el 5/1/2020</div>
            </div> -->
        </div>
   </div>
    
</body>
</html>