<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practica 1</title>
    <link href="images/favicon.png" rel="icon">
    <link rel="stylesheet" href="../styles/loginScreen.css" media="screen"/> 
</head>
<body>
   <div class="panelPrincipal">
        <div class="titulo">
               <h1>404</h1>
        </div>
          <div class="form"> 
               <form action="procesar_formulario" method="método">
                    <label id="label1" for="Name">Correo *</label>
                    <input type="text" id="search1" name="Correo *" required>
                    <label id="label2" for="Name">Contraseña *</label>
                    <input type="text" id="search2" name="Contraseña *" required>
                    <label id="label2" for="Name">Confirmar Contraseña *</label>
                    <input type="text" id="search3" name="Confirmar Contraseña *" required>
                    <label id="label2" for="Name">Nickname *</label>
                    <input type="text" id="search4" name="Nickname *" required>
                    <label id="label2" for="Name">Imagen de Perfil</label>
                    <input type="file" name="adjunto" accept=".pdf,.jpg,.png" multiple />
                    <input type="submit" id="button2" value="Crear Cuenta">
                    <a href="../view/login.html" id ="button2">Iniciar Sesión </a>
                   
               </form>
          </div>
     </div>

   </div>
    
</body>
</html>