<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practica 1</title>
    <link href="images/favicon.png" rel="icon">
    <link rel="stylesheet" href="../styles/usersList.css" media="screen"/> 
</head>
<body>
    <div class="encabezado">
        <div class="parte1">
            <div class="botonera">
                <a href="">Preguntas</a>
                <a href="">Sin responder</a>
                <a href="">Usuarios</a>
            </div>
            <div class="titulo">
                <h1>404</h1>
            </div>
            <div class="informacionUsuario">
                <img src="../images/User_Circle.png">
                <p>Robertito@gmail.com</p>
                <a href="../view/login.html">Cerrar Sesion</a>
            </div> 
        </div>
        <div class="parte2">
            <form action="procesar_formulario" method="método">
                <input type="submit" id="button1" value="Buscar">
                <input type="text" id="search1" name="Busqueda *" value="Buscar por titulo/cuerpo de pregunta">
            </form>
        </div>
   </div>

   

    <div class="cuadro">
        <form action="procesar_formulario" method="método">
            <input type="submit" id="button2" value="Buscar">
            <input type="text" id="search2" name="Busqueda *" value="Buscar por titulo/cuerpo de pregunta">
            </form>
    <div class="listaUsuarios">
        
            <div class="usuario">
                <img id ="imagen" src="../images/User_Circle.png">
                <p>Nombre1</p>
                <p>111</p>
            </div>
            <div class="usuario">
                <img id ="imagen" src="../images/User_Circle.png">
                <p>Nombre2</p>
                <p>222</p>
                <p id="etiqueta">css</p>
            </div>
            <div class="usuario">
                <img id ="imagen" src="../images/User_Circle.png">
                <p>Nombre3</p>
                <p>333</p>
            </div>
            <div class="usuario">
                <img id ="imagen" src="../images/User_Circle.png">
                <p>Nombre4</p>
                <p>444</p>
            </div>
            <div class="usuario">
                <img id ="imagen" src="../images/User_Circle.png">
                <p>Nombre5</p>
                <p>555</p>
            </div>
            <div class="usuario">
                <img id ="imagen" src="../images/User_Circle.png">
                <p>Nombre6</p>
                <p>666</p>
            </div>
            <div class="usuario">
                <img id ="imagen" src="../images/User_Circle.png">
                <p>Nombre7</p>
                <p>777</p>
                <p id="etiqueta">html</p>
            </div>
            <div class="usuario">
                <img id ="imagen" src="../images/User_Circle.png">
                <p>Nombre8</p>
                <p>888</p>
                <p id="etiqueta">javascript</p>
            </div>

    </div>
    </div>

</body>
</html>

