<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practica 1</title>
    <link href="../../images/favicon.png" rel="icon">
    <link rel="stylesheet" href="styles/home.css" media="screen"/> 
</head>
<body>
    <div class="encabezado">
        <div class="parte1">
            <div class="botonera">
                <a href="">Preguntas</a>
                <a href="">Sin responder</a>
                <a href="">Usuarios</a>
            </div>
            <div class="titulo">
                <h1>404</h1>
            </div>
            <div class="informacionUsuario">
                <img src="../../images/User_Circle.png">
                <p>Robertito@gmail.com</p>
                <a href="../view/login.html">Cerrar Sesion</a>
            </div> 
        </div>
        <div class="parte2">
            <form action="procesar_formulario" method="método">
                <input type="submit" id="button1" value="Buscar">
                <input type="text" id="search1" name="Busqueda *" value="Buscar por titulo/cuerpo de pregunta">
            </form>
        </div>
   </div>
    
</body>
</html>