* {
    /* margin:0;
    padding:0; */
    border: 1px solid red;
}
p {
    /* margin: 12px; */
    padding: 5px;
    background-color: #F0F0FF;
}
div.flotante {
    float: left;
    width: 40%;
    background-color: #FFA000;
}







