<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practica 4</title>
    <link href="../public/img/favicon.png" rel="icon">
    <link rel="stylesheet" href="styles/loginScreen.css" media="screen"/> 
</head>
<body>
   <div class="panelPrincipal">
          <div class="titulo">
               <h1>Tareas</h1>
          </div>
          <div class="form"> 
               <form action="login" method="POST">
                    <label id="label1" for="Name">Correo *</label>
                    <input type="text" id="email" name='email' required>
                    <label id="label2" for="Name">Contraseña *</label>
                    <input type="password" id="password" name='password' required>
                    <input type="submit" id="button1" value="Iniciar Sesion">
                    
               </form>

               <%if(errorMsg != null){%>
                    <p id="mensajeError"><%=errorMsg%></p>
               <%}%>
          </div>     </div>    
</body>
</html>