* {
    margin:0;
    padding:0;
} 

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.fullpage{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


.encabezado{
    font-size: 20px;
    color: white;
    background-color: black;
    text-align: center;
}

.main{
    display: flex;
    background-image: linear-gradient(to right,red,yellow,green);
    flex-grow: 1;
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 0;
}

.right{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-between;
}

.footbar{
    font-size: 15px;
    color: white;
    background-color: black;
    text-align: center;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 200px;
    padding: 4px;
    margin:5px;
    background-color: black;
    color:white;
}


