<!DOCTYPE html>
<html>

<head>
    <title>Lista de usuarios</title>
    <meta charset="utf-8">
</head>

<body>
    <ul>
        <li>
            <a href="/secreto">Secreto</a>
        </li>
        <li>
            <a href="/otro_secreto">Otro secreto</a>
        </li>
        <li>
            <a href="/publico">Público</a>
        </li>
    </ul>
</body>

</html>